<div class="grid grid-cols-3 gap-2">
    <booking-card></booking-card>
    <booking-card></booking-card>
    <booking-card></booking-card>
    <booking-card></booking-card>
    <booking-card></booking-card>
    <booking-card></booking-card>
    <booking-card></booking-card>
    <booking-card></booking-card>
    <booking-card></booking-card>
    <booking-card></booking-card>
    <booking-card></booking-card>
    <booking-card></booking-card>
    <booking-card></booking-card>
    <booking-card></booking-card>
</div>