<div class="card-booking">

    <div class="relative">
        <img class="rounded" src="https://source.unsplash.com/user/erondu/1600x900">
        <p class="title-booking">{{room.title}}</p>
    </div>
    
    <div class="mt-4 mb-4">
        <p>
            {{room.description}}
        </p>
    </div>

    <hr>
    <div class="text-red-600">
        <p>
            A partir de 12 ans avec une majorité d'adultes.
        </p>
    </div>
    <hr>

    <div class="footer-booking">
        <p class="self-center text-sm">
            {{room.duration}} MIN | {{room.minPlayers}}-{{room.maxPlayers}} JOUEURS
        </p>
        <button class="btn-booking" type="button" (click)="toggleModal()">
            Réserver
        </button>
    </div>
</div>

<booking-modal *ngIf="showModal" [room]="room" (toggle)="toggleModal()"></booking-modal>
