<div class="flex-col p-4 rounded bg-zinc-50">

    <div class="relative">
        <img class="rounded" src="https://source.unsplash.com/user/erondu/1600x900">
        <p class="left-0 m-4 p-2 font-bold text-2xl text-white rounded-md absolute bottom-0">Hold up à Las Vegas</p>
    </div>
    <div class="mt-4 mb-4">
        <p>
            Braquez un célèbre Casino de Las Vegas en équipe, tentez d’accéder au coffre fort de l'établissement en moins de 60 minutes et de vous échapper avant l’arrivée de la police ! 
        </p>
    </div>

    <hr>
    <div class="text-red-600">
        <p>
            A partir de 12 ans avec une majorité d'adultes.
        </p>
    </div>
    <hr>

    <div class="mt-6 flex flex-row justify-between align-middle">
        <p class="self-center text-sm">
            60 MIN | 3-5 JOUEURS
        </p>
        <booking-button (click)="toggleModal()"></booking-button>
    </div>
</div>
<booking-modal *ngIf="showModal" (toggle)="toggleModal()"></booking-modal>
